body {
    background-color: #F6F5F4;
    font-size: 14px;
}

.simple-login-container {
    width: 400px;
    max-width: 100%;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
}

.simple-login-container img {
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
}

.simple-login-container .btn-login {
    background-color: #B881FC;
    color: #fff;
}

.simple-login-container form {
    background: #fff;
    padding: 3rem;
}

.simple-login-container input {
    border: 1px solid rgba(0, 0, 0, .20);
    padding: 7px;
}

.contact2-form-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}