html,
body {
    font-family: 'Poppins';
}

.nav-home {
    padding: 10px;
}

.nav-link {
    color: #fff !important;
    font-size: 18px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-left: 16px !important;
}

.navbar-brand img {
    width: 150px;
}

.sticky-dekstop {
    background-color: rgb(255, 255, 255);
    padding: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.sticky-dekstop #Group_1 path,
.sticky-dekstop #akon {
    fill: #484848;
}

.sticky-dekstop .nav-link {
    color: #484848 !important;
    text-shadow: none !important;
}

.sticky-dekstop .nav-link.active {
    color: #B881FC !important;
    text-shadow: none !important;
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    height: 100vh;
}

.jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.jumbotron .container {
    position: relative;
    z-index: 5;
    min-height: 100%;
    height: 100%;
}