.filterForm input {
    border: 1px solid #C4C4C4;
    padding: 6px;
}

.filterForm .rh input {
    width: 40%;
    display: inline-flex;
    margin: 0 6px;
}

.filterForm button {
    margin-top: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .14);
    background: #B881FC;
    border: #B881FC;
}