.title {
    /* margin: 15px; */
    /* margin: 1rem .5rem; */
}

.title h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    color: #484848;
}

.title h5 {
    font-size: 18px;
    color: #5D6475;
}