.aboutContact {
    background-image: url("/img/background/img3.jpg");
    margin-bottom: 0 !important;
    min-height: 435px !important;
    height: calc(100vh - 364px) !important;
}

.aboutContact:after {
    background: radial-gradient(#272D36, #21262E, #13161A, #121519, #121519);
    opacity: .7;
}

.aboutContact .col-sm-12 h1 {
    padding: 0px 20%;
    font-size: 50px;
    margin-bottom: 2rem;
    font-weight: 700;
}

.aboutContact .col-sm-12 p {
    padding: 0 10%;
    font-size: 22px;
    margin-bottom: 2rem;
    font-weight: 500 !important;
}