.listprok {
    height: auto !important;
    padding: 2rem;
}

.produk {
    height: 360px;
    /* width: 255px; */
    margin: 0 .5rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .15);
}

.produk .imageProduk,
.produk .imageProduk img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slick-dots {
    bottom: -50px;
}

.imageProduk:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#272D36, #21262E, #13161A, #121519, #121519);
    opacity: .7;
    z-index: 1;
}

.slick-dots li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #484848;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    margin-bottom: 0;
    margin-top: 0;
}

.slick-dots li {
    background-color: #484848;
    width: 30px;
    height: 4px;
    /* border-radius: 50%; */
}

.slick-dots li.slick-active {
    opacity: 1;
}

ul.slick-dots li button {
    /* display: none; */
    opacity: 0;
}

.detail-info {
    content: "";
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    z-index: 4;
    font-size: 18px;
}

.detail-info .jenis-properti {
    width: 100%;
    font-size: 16px !important;
}

.detail-info .nama-properti {
    width: 50%;
    align-self: flex-end;
    font-weight: 700;
}

.detail-info .link-properti {
    width: 50%;
    align-self: flex-end;
    margin-bottom: .5rem;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
}

.detail-info .link-properti i {
    font-size: 28px;
    margin-left: 9px;
    transform: translateY(3.2px);
}