.baner {
    height: 70vh !important;
}

.baner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(34, 34, 34, .6);
    bottom: 0;
    z-index: 4;
}

.baner::after {
    background: url("/img/background/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-position-y: 50%;
}

form.filter {
    width: 100%;
    background: rgba(255, 255, 255, .4);
    padding: 1rem 1rem;
}

form.filter input {
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 6px;
}

form.filter button {
    border-radius: 0;
    background: #B881FC;
    border: #B881FC;
}