.btn-dakon {
    color: #fff;
    background-color: #B881FC;
    border-color: #B881FC;
}

.btn-dakon:hover,
.btn-dakon:active {
    color: #fff;
    background-color: #9561d6;
    border-color: #9561d6;
}

.input-group-text {
    background-color: #fff;
    border: 0;
}

.form-control {
    border: 0;
    padding: 0;
    height: auto;
}