.footer {
    background-color: #e9ecef;
    padding: 70px 0;
    position: relative;
}

.detailFooter.img {
    height: 70px;
    width: 100%;
}

.detailFooter.img .card .card-body {
    padding: 0;
}

.detailFooter.img img {
    width: 75px;
    height: 100%;
}

.detailFooter.img .card {
    background: transparent;
    border: none;
}

.detailFooter.img .card h5,
.detailFooter.img .card p {
    font-size: 16px;
    margin: 0;
}

.detailFooter.img .card h5 {
    margin-top: 14px;
}

.kontak {
    color: #484848;
    margin-bottom: 8px;
}

.kontak i {
    margin-right: 10px;
}

.sos {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #323840;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
    line-height: 31px;
    color: #fff;
}

.footer-copyright.text-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left !important;
}