.rek {
    padding: 3rem 0;
    height: auto !important;
    background: #fff;
}

.rek .col-md-4 {
    padding: 15px;
}

.card img {
    height: 195px;
}

.rek .card {
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    border: 0;
    position: relative;
}

.rek .card-body {
    position: relative;
}

.rekomendasi {
    position: absolute;
    font-size: 60px;
    color: #B881FC;
    right: 0;
    top: 50%;
    transform: translate(-30%, -40%);
}

.info-rek {
    color: #979CA7;
}

.card-title {
    color: #484848;
}

.rek .card:before {
    position: absolute;
    content: '';
    height: 180px;
    width: 8px;
    top: -25px;
    left: 30px;
    z-index: 5;
    transform: rotate(36deg);
    border-right: 25px solid #B881FC;
    border-top: 18px solid transparent;
    border-bottom: 35px solid transparent;
}