.jumbotron.jumbotron-fluid.aboutHome {
    background: #fff;
    height: auto;
    padding: 8rem 0;
}

.about {
    height: 40vh !important;
}

.about h1 {
    z-index: 1;
}

.imageAboutUp {
    width: 48.6%;
    height: 119%;
    display: inline-block;
    background-size: 100% 100% !important;
    position: relative;
}

.imageAboutUp:first-child {
    background: url(/img/background/img6.jpg);
    margin-right: 5px;
}

.imageAboutUp:last-child {
    background: url(/img/background/img13.jpg);
    margin-left: 5px;
}

.imageAboutUp:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(184, 129, 252, 0.26);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.imageAboutUp:hover::after {
    background: none;
}

.since h1 {
    position: relative;
    margin-left: 16px;
}

.since h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 3px solid #B881FC;
    /* margin-left: 1rem; */
    transform: translateX(-16px);
}

.since h3 {
    font-size: 17px;
    padding-left: 8px;
}

.since h1 {
    color: #B881FC;
}

.since p {
    padding-right: 4rem;
}

#visimisi {
    position: relative;
}

#visimisi:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url(/img/background/visimisi.svg);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: top center;
    z-index: 1;
}

.vimi {
    margin-top: 3rem;
    text-align: center;
    z-index: 4;
}

.vimi h1 {
    color: #BD0004;
}

.vimi p {
    padding: 0 2rem;
}