.alur {
    background-color: #fff !important;
    height: auto !important;
}

.alurProps h1 span {
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    left: -50px;
    font-weight: 700;
}

.alurProps h1 {
    font-weight: 600;
}

.alurProps p {
    font-weight: 500;
}

.alurProps {
    color: #B881FC;
    margin-top: 6rem;
}

.alurProps:nth-child(odd) .col-md-6:last-child {
    order: -1;
}