.baner {
    height: 70vh !important;
}

.baner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(34, 34, 34, .6);
    bottom: 0;
    z-index: 4;
}

.baner::after {
    background: url("/img/background/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-position-y: 50%;
}

.carousel.slide {
    height: inherit;
    width: inherit;
    margin: 0 !important;
    width: 60%;
}

.carousel-item {
    color: #fff;
}

.carousel-item .col-md-12 {
    margin: 0 -15px;
}

.carousel-item h1 {
    font-weight: 700;
}

.carousel-indicators {
    margin-bottom: 0;
    position: absolute;
    transform: translate(50%, 40px);
}

.carousel-indicators .active {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #fff;
    border: 4px solid #ff002d00;
    width: 15px;
    height: 15px;
}

.carousel-indicators li {
    border-radius: 50%;
    background-color: #fff0;
    box-shadow: 0 0 0 1px #fff;
    border: 4px solid #ff002d00;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    opacity: 1;
}

.carikon {
    position: absolute;
    width: 35%;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    padding-right: 15px;
    color: #fff;
}

.carikon .card-header {
    background: #B881FC;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.carikon .card {
    border: 0;
    background-color: rgba(255, 255, 255, .4);
}

.carikon .card-body .blockquote {
    font-size: 16px;
    /* width: 80%; */
}